.footer {
    background-color: #333333;
    color: #8F8F90;
  }

  .img_corazon {
    max-width: 150px;
  }

  
  li:hover {
    color: #f4b233;
    transition: 0.3s;
  }
  
  .fa-brands {
    font-size: 30px;
    padding: 10px;
  }
  
  a:hover {
    color: #f4b233;
    transition: 0.3s;
  }
  
