/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.mi_titulo {
    color: #EC5548;
    font-weight: bold;
}

.mi_subtitulo {
    color: #333333;
}

.contenido {
    padding: 50px 60px;
    border-top: 3px solid #b3b3b3;
    margin: 0;
}

.col-md-3 {
    padding: 0;
    height: 220px;
}

.categorias img {
   object-fit: cover;
}

.categorias img:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    opacity: 0.8;
}



  




