.subtitulo {
  color: #333333;
  font-size: 28px;
}

.my_label {
  color: #333333;
  font-size: 14px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.my_input::placeholder {
  color: #8f8f90 !important;
  font-style: italic;
  font-size: 14px;
}


.preferencias {
  margin-top: 5px;
}

.seleccion-preferencias {
  padding-top: 10px;
}

#telefono::-webkit-outer-spin-button,
#telefono::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo de botones */
  
 
.secundario {
    background-color: #8F8F90;
    color: white
}

.secundario:hover {
    opacity: 0.5;
    color: white;
}

.secundario:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.primario {
  background-color: #ec5548;
  color: white;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.primario:hover {
  background-color: #e03222;
  color: white;
}

.primario:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
   



   